/* Importing the mediaQueries.scss file and renaming it to media. */
@use "../abstracts/mediaQueries" as media;

/* Setting the width and height of the modal overlay to 100% of the viewport. It is also setting the
position to fixed, so that it will stay in the same place when the user scrolls. It is also setting
the top and left to 0, so that it will be in the top left corner of the viewport. It is also setting
the background color to a semi-transparent black. It is also setting the display to flex, so that
the modal container will be centered. It is also setting the align-items and align-content to
center, so that the modal container will be centered. */
.modal_overley{
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,.5);
   display: flex;
   align-items: center;
   align-content: center;
}
/* Setting the width and height of the modal container to 70% and 60% of the viewport. It is also
setting the background color to white. It is also setting the border radius to 5px. It is also
setting the box shadow to a semi-transparent black. It is also setting the padding to 1rem. It is
also setting the margin to 0 auto, so that it will be centered. It is also setting the display to
grid, so that the modal container will be a grid. It is also setting the grid-template-columns to
auto, so that the columns will be the same size. It is also setting the gap to 0.5rem, so that there
will be a gap between the columns. */
.modal_container{
   width: 70%;
   height: 60%;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: rgba(100,100,111,.2) 0px 7px 29px 0px;
   padding: 1rem;
   margin: 0 auto;
   display: grid;
   grid-template-columns: auto;
   gap: 0.5rem;
   h2{
      font-size: 1.6rem;
      text-align: center;
      padding: 0.5rem 0;
      border-bottom:solid 2px  #000000;
  
      margin-bottom: 0.3rem;
   }
   p{
      font-size: 1rem;
      padding-left: 1rem;
      letter-spacing: 1px;
   }
 /* Setting the width of the modal container to 50% of the viewport when the viewport is between 768px
 and 1024px. */
   @include media.tablet{
      width: 50%;
   }
 /* Setting the width of the modal container to 30% of the viewport when the viewport is
 1024px or larger. */
   @include media.desktop{
      width: 30%;
   }
}

.model_buttonContainer{
   width: 100%;
display: flex;
}
.modal_button{
   width: 90%;
   height: auto;
   color: #fff;
   background-color: #000000;
   padding: 0.5rem 0;
   font-size: 1rem;
 margin: 0 auto;

}