/* Importing the mediaQueries.scss file and assigning it to the variable media. */
@use '../abstracts/mediaQueries' as media;



/* The slider for the mobile version. */
 .slider_carousel{
    width: 90%;
   height:450px; 
   background-color: black;
   margin: 0 auto;
 margin-top: 1rem;
 object-fit: contain;
 position: relative;

 @include media.desktop{
   display: none;
 }
 }

/* Hiding the slider_gallery class on mobile and showing it on desktop. */
.slider_gallery{
 width:90%;
 height: 60%;
 display: none;
 margin: 0 auto;

 @include media.desktop{
   display: block;
 }


 /* Styling the featured image. */
 .slider_featurImage{
   height: 100%;
   width: 90%;
   background-position:  center;
 background-size: cover;
 }
}
/* Creating a grid with 3 columns and a gap of 1rem. */

.slider_imagesContainer{
   margin-top: 1rem;
   width: 90%;
   height:40%;
   
   display: grid;
   grid-template-columns: auto auto auto; 
   gap: 1rem;
}
.slider_galleryImages{
   width: 100%;
   height: 90%;
 

}

/* Styling the images in the slider. */
.slider_slide{
    width: 100%;
    height: 100%;
     background-position:  center;
     background-size: cover;
}

.slider_leftArrow{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 2%;
    color: #7f7f7f;
    z-index: 1;
    cursor: pointer;
   opacity: 0.7;
}

/* Styling the right arrow. */
.slider_rightArrow{
   position: absolute;
   top: 50%;
   transform: translate(0,-50%);
   right: 2%;
   color: #7f7f7f;
   z-index: 1;
   cursor: pointer;
   opacity: 0.7;
}
/* Centering the dots. */
.slider_dotsContainer{
   display: flex;
   justify-content: center;
}
/* Styling the dots. */
.slider_dots{
   
  margin:1rem 0.4rem;
  cursor: pointer;
  color: #e9e9e9;
  opacity: 0.6;
  &:focus{
    color: #000000;
    opacity: 1;
  }
}
