/* Importing the mediaQueries.scss file and assigning it to the variable media. */
@use '../abstracts/mediaQueries' as media;


/* Setting the width to 90%, the height to auto and the margin to 3rem auto. */
.title_container{
   width:90%;
   height: auto;
   margin: 3rem auto;

}
/* Setting the opacity to 0.3 and the font-weight to bold. */
.title_colaboration{
   opacity: 0.3;
   font-weight: bold;
}

/* Setting the display to flex, the margin-top to 1rem and the gap to 1rem. */
.title_priceContainer{
display: flex;
margin-top: 1rem;
gap: 1rem;
}
/* Setting the font-size to 1.5rem and the font-weight to 500. */
.title_priceNow{
   font-size: 1.5rem;
   font-weight: 500;
}

/* Setting the text-decoration-line to line-through, the opacity to 0.5 and the font-size to 1.2rem. */
.title_priceAfter{
   text-decoration-line: line-through;
   opacity: 0.5;
   font-size: 1.2rem;
}

/* Setting the margin-top to 2.5rem, the border to 1px solid black and the opacity to 0.1. */
.title_line{
   margin-top: 2.5rem;
   border: 1px solid black;
   opacity: 0.1;
}
/* Setting the margin-top to 1rem, the border to 1px solid black and the opacity to 0.1. */
.title_line2{
   margin-top: 1rem;
   border: 1px solid black;
   opacity: 0.1;
}
/* Setting the margin-top to 2rem, the border to 1px solid black and the opacity to 0.1. */
.title_line3{
   margin-top: 2rem;
   border: 1px solid black;
   opacity: 0.1;
}
/* Setting the font-size to 1.3rem. */
.title_colorLabel{
   p{ 
      font-size: 1.3rem;
   }
  
}
/* Setting the padding to 2rem 0, the display to flex, the justify-content to left and the align-items
to center. */
.title_colorContainer{
   padding: 2rem 0;
   display: flex;
   justify-content: left;
   align-items: center;
}

/* Setting the width to 35px, the height to 35px, the display to none, the border-radius to 50%, the
margin-left to 1rem, the display to flex, the justify-content to center, the align-items to center,
the padding to 2px, the background-color to #e62e1b, the background-color to #000000, the
background-color to #cccccc, the width to calc(100% - 6px), the height to calc(100% - 6px), the
border-radius to 50%, the display to inline-block, the opacity to 1, the display to none and the
border to 3px solid white. */
.title_customBtn{
   width: 35px;
   height: 35px;
   display: none;
   border-radius: 50%;
   margin-left: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2px;
  
  
      
 
   #Red{
      background-color:#e62e1b;
   }
   #Black{
      background-color:#000000;
   }
   #White{
      background-color:#cccccc;
   }

   .checkmark{
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      border-radius: 50%;
      display: inline-block;
      opacity: 1;
     

   }
   input{
      display: none;
   }

 /* Setting the border to 3px solid white, the transition to opacity 0.5s ease, the
 -webkit-box-shadow to 0px 0px 0px 3px rgba(0,0,0,1), the -moz-box-shadow to 0px 0px 0px 3px
 rgba(0,0,0,1) and the box-shadow to 0px 0px 0px 3px rgba(0,0,0,1). */
  input:checked+.checkmark{
   border: 3px solid white;
   transition:  opacity 0.5s ease;
   -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
   }

}

.title_sizep{
   font-size: 1.3rem;
}
.title_formContainer{
 display: flex;
 padding-top: 2rem;

 .title_sizeContain{
   width: 30%;
   }
   

}
.title_variantsContainer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      gap: 0.5rem;

     .title_colorNoSelected{
         font-size: 1.3rem;
         margin-left: 2rem;
      }

   /* Setting the border to 1px solid black, the color to black, the padding to 0.6rem, the
   opacity to 0.6, the text-align to center, the font-size to 1rem and the width to 45px. */
      .title_size{
          border: 1px solid black;
         color:  black ;
         padding: 0.6rem;
         opacity: 0.6;
         text-align: center;
         @include media.desktop{
            font-size: 1rem;
            width: 45px;
         }
      }

      @include media.desktop{
         display: flex;
      }

   }

/* Setting the border to 3px solid black, the text-align to center, the color to black, the padding to
0.6rem and the opacity to 1. */
   .selected{
      border: 3px solid black;
      text-align: center;
      color:  black ;
      padding: 0.6rem; 
   /* Setting the display to flex, the padding to 2rem 0 1rem 0. */
      opacity: 1;
   }
   .title_quantityContainer{
      display: flex;
      padding: 2rem 0 1rem 0;
   }

/* Setting the width to 30%, the display to flex, the gap to 1rem, the border-width to 1px,
the border-style to solid, the border-color to rgb(0,0,0,0.3), the padding to 0.4rem, the
font-weight
to 700 and the justify-content to center. */
  .title_count{
   width: 30%;
   display: flex;
   gap: 1rem ;
   border-width: 1px;
   border-style: solid;
   border-color:rgb(0,0,0,0.3);
   padding: 0.4rem;
  /* Setting the display to flex, the width to 70%, the gap to 0.5rem, the text-align to right,
  the padding to 0.4rem, the justify-content to end and the opacity to 0.7. */
   font-weight: 700;
   justify-content: center;
  }

  .title_totalPriceContainer{
  display: flex;
  width: 70%;
  gap: 0.5rem;
  text-align: right;
  padding: 0.4rem;
  justify-content: end;
  opacity: 0.7;
  }
/* Setting the padding to 1rem 0, the width to 100%, the display to grid, the
grid-template-columns to auto, the gap to 1rem and the display to flex. */
  .title_buttonsContainer{
   padding: 1rem 0;
  width: 100%;
   display: grid;
   grid-template-columns: auto;
   gap: 1rem;

   @include media.desktop{
      display: flex;
   }
  }
  .title_addFav{
    background-color:#EAECEE ;
    width: 100%;
    padding: 0.8rem 0;
    font-size: 1rem;
  }
  .title_addCart{
   background-color: #070707;
   width: 100%;
   color:white ;
   padding: 0.8rem 0;
   font-size: 1rem;
   @include media.tablet{
      
   }

}

.title_descriptionContainer{
   padding: 1rem 0;
}